<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="@string/appName"
        android:theme="@style/Theme.Kontrollzentrum">

        <!--
          Digital Asset Links: erlaubt der Trusted-Web-Activity-Bibliothek, die
          Verknuepfung zur Domain client-seitig zu pruefen. Der eigentliche
          OS-Verify laeuft ueber den autoVerify-Intent-Filter unten + die
          assetlinks.json, die unter https://www.openmyconet.de/.well-known/
          assetlinks.json erreichbar sein muss (siehe README-ANDROID.md).
        -->
        <meta-data
            android:name="asset_statements"
            android:resource="@string/asset_statements" />

        <activity
            android:name="com.google.androidbrowserhelper.trusted.LauncherActivity"
            android:exported="true"
            android:label="@string/appName"
            android:theme="@style/Theme.Kontrollzentrum.Launcher">

            <meta-data
                android:name="android.support.customtabs.trusted.DEFAULT_URL"
                android:value="@string/launchUrl" />

            <meta-data
                android:name="android.support.customtabs.trusted.STATUS_BAR_COLOR"
                android:resource="@color/colorPrimary" />

            <meta-data
                android:name="android.support.customtabs.trusted.NAVIGATION_BAR_COLOR"
                android:resource="@color/colorPrimary" />

            <meta-data
                android:name="android.support.customtabs.trusted.SPLASH_SCREEN_BACKGROUND_COLOR"
                android:resource="@color/backgroundColor" />

            <meta-data
                android:name="android.support.customtabs.trusted.SPLASH_SCREEN_FADE_OUT_DURATION"
                android:value="300" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- Digital-Asset-Links-Verifizierung: oeffnet /dashboard/* aus dem
                 System (z.B. Mail-Links) direkt in dieser App statt im Browser. -->
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:scheme="https"
                    android:host="@string/hostName" />
            </intent-filter>
        </activity>

    </application>

</manifest>
